# Introduction to scikit-learn | Baseline Classifiers


ðŸ¤– `Notebook by` [S. M. Mahedi Hasan](https://www.linkedin.com/in/s-m-mahedi-hasan-09a8452ab/)

âœ… `Machine Learning Source Codes` [GitHub](https://github.com/Saaaaakibhai/MachineLearing)

ðŸ“Œ `Machine Learning from Scratch` [Course Outline](https://docs.google.com/document/d/15mGNTUSlWQsy4TzcLZUdYedpCMO5KiVq1USaDprHaIc/edit?usp=sharing)

ðŸ“Œ `Related` [PPTX Slide](https://docs.google.com/presentation/d/1gir8tFBx8T4ZXhNtN4HHZ2-o6kxG1qg_/edit#slide=id.p1)

## ZeroR Classifier 

Read scikit-learn [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html)

## Load Libraries

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Create train dataset

data = {
    'Outlook': ["Rainy", "Rainy", "Overcast", "Sunny", "Sunny", "Sunny",
               "Overcast", "Rainy", "Rainy", "Sunny", "Rainy", "Overcast",
               "Overcast", "Sunny"],

    'Temp': ["Hot", "Hot", "Hot", "Mild", "Cool", "Cool", "Cool", "Mild",
            "Cool", "Mild", "Mild", "Mild", "Hot", "Mild"],

    'Humidity': ["High", "High", "High", "High", "Normal", "Normal", "Normal",
                "High", "Normal", "Normal", "Normal", "High", "Normal", "High"],

    'Windy': ["False", "True", "False", "False", "False", "True", "True",
             "False", "False", "False", "True", "True", "False", "True"],

    'Play Golf': ["No", "No", "Yes", "Yes", "Yes", "No", "Yes", "No", "Yes",
                 "Yes", "Yes", "Yes", "Yes", "No"]
}


df = pd.DataFrame(data)
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [4]:
df['Play Golf'].value_counts()

Play Golf
Yes    9
No     5
Name: count, dtype: int64

In [5]:
# Create test dataset

test_data = {
    'Outlook': ["Rainy", "Overcast", "Rainy"],
    'Temp': ["Hot", "Hot", "Hot"],
    'Humidity': ["Normal", "Normal", "Normal"],
    'Windy': ["True", "True", "False"],

    'Play Golf': ["No", "No", "Yes"]
}
test = pd.DataFrame(test_data)
test

    Outlook Temp Humidity  Windy Play Golf
0     Rainy  Hot   Normal   True        No
1  Overcast  Hot   Normal   True        No
2     Rainy  Hot   Normal  False       Yes

In [6]:
test['Play Golf'].value_counts()

Play Golf
No     2
Yes    1
Name: count, dtype: int64

# Split the Dataset

In [7]:
x_train = df.drop(columns='Play Golf')
y_train = df['Play Golf']

x_test = test.drop(columns='Play Golf')
y_test = test['Play Golf']

# ZeroR Classifier using Sklearn

In [ ]:
# Step-1 : Import the model from sklearn
from sklearn.dummy import DummyClassifier

# Step-2 : Create an instance or object of the model
model = DummyClassifier(strategy='most_frequent')