# Introduction to Python

## Python Comment

In [1]:
# this is a single line comment

In [4]:
"""
This is a multiline
"""

'\nThis is a multiline\n'

## Python Variables

In [5]:
# Assigning values to variables
age = 35
name = "Sakib"
is_student = True
cgpa = 3.75

## Python Data Type

In [6]:
# Integer type
num=10
print(type(num))

<class 'int'>

In [7]:
#Float type
pi=3.14
print(type(pi))

<class 'float'>

In [8]:
# String type
str = "ML"
print(type(str))

<class 'str'>

In [9]:
# boolean type
is_true=False
print(type(is_true))

<class 'bool'>

## Python Casting

In [10]:
#Specify a variable type
x=int(1)
y=int(2.5)
z=int("5")

In [12]:
print(x)
print(x)

1
1

In [13]:
print(x)
print(y)
print(z)

1
2
5

In [14]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Python Input/Output

In [15]:
#taking user input
name=input()
print(name)

S M Mahedi Hasan
S M Mahedi Hasan

In [16]:
#taking user input
name = input("Enter your name: ")
print(name)

Enter your name: Sakib Nerd
Sakib Nerd

In [17]:
# Input Type
number = input ("Enter any number: ")
print(number)
print(type(number))

Enter any number: 5
5
<class 'str'>

In [18]:
#Reading numeric inputs
num=float(input("Enter a number:")
          print(type(num))
          print(num)

SyntaxError: '(' was never closed (3853033001.py, line 2)

In [19]:
#Reading numeric inputs
num=float(input("Enter a number:"))
          print(type(num))
          print(num)

IndentationError: unexpected indent (387588308.py, line 3)

In [20]:
#Reading numeric inputs
num = float(input("Enter a number:"))
print(type(num))
print(num)

Enter a number:5
<class 'float'>
5.0

In [21]:
## Taking multiple inputs in a single line
x,y = input("Enter two number: ").split()
print(x,y)

Enter two number: 1 2
1 2

## Python Strings

In [22]:
#single quoted string
single = 'ML'
#double quated string
double = "ML"
print(single,double)

ML ML

In [23]:
#String concatanation
str1 = "ML"
str2 = "Cse"
print(str1,'   ',str2)

ML     Cse

In [25]:
print(str1,' ',str2,sep='',end='?')
##separated by comma
print(str1,' ',str2,sep='',end='!')

print(str1,' ',str2,sep='-',end='Roppo')

ML Cse?ML Cse!ML- -CseRoppo

In [26]:
print(str1,' ',str2,sep='',end='?')
##separated by comma
print(str1,' ',str2,sep='',end='!')

print(str1,' ',str2,sep='-',end='Roppo')

ML Cse?ML Cse!ML- -CseRoppo

In [27]:
#length
len(str1)

2

In [28]:
print(len(str1))
print(len(str2))

2
3

In [29]:
print(len(str1))
print(len(str2))

2
3

In [30]:
str1 = "ML"
str[1]

'L'

In [31]:
#String Slicing
course_name = "Machine Learning"
course_name[0:5]

'Machi'

In [32]:
#String Slicing
course_name = "Machine Learning"
course_name[0:5]
course_name[:7]

'Machine'

In [33]:
course_name.upper()

'MACHINE LEARNING'

In [34]:
course_name.lower()

'machine learning'

In [35]:
course_name.find("L")

8

In [36]:
test="  asdada asda"
test.strip()

'asdada asda'

In [38]:
#create lists
numbers = [1,2,3,4,5]
names=['alice','Bob','abc']
mixed=[1,3,5,'abc']
print(numbers)

[1, 2, 3, 4, 5]

In [40]:
#create lists
numbers = [1,2,3,4,5]
names=['alice','Bob','abc']
mixed=[1,3,5,'abc']
print(numbers)
print(mixed)
print(names)

[1, 2, 3, 4, 5]
[1, 3, 5, 'abc']
['alice', 'Bob', 'abc']

In [43]:
numbers.extend([7,8])

numbers

In [44]:
number

'5'

In [45]:
numbers

[1, 2, 3, 4, 5, 7, 8, 7, 8]

In [46]:
numbers.reverse()

In [47]:
numbers

[8, 7, 8, 7, 5, 4, 3, 2, 1]

In [48]:
numbers.sort()

In [49]:
numbers

[1, 2, 3, 4, 5, 7, 7, 8, 8]

In [50]:
range(5)

range(0, 5)

In [1]:
range(1,5)

range(1, 5)

In [3]:
#show range it will show -1 time such as 
for i in range(5):
   print(i)

0
1
2
3
4

In [4]:
for i in range(6):
    print(i)

0
1
2
3
4
5

## python lists

In [1]:
##Creating on empty list
empty_list = []
print(empty_list)
print(len(empty_list))
print(type(empty_list))

[]
0
<class 'list'>

In [3]:
list1=[1,2,3]
list2=['a','b','e','d']
list3=[2,'e',5]
print(list1)
print(list2)
print(list3)

[1, 2, 3]
['a', 'b', 'e', 'd']
[2, 'e', 5]

In [4]:
#indexing
print(list[1])
print(list[2])

list[1]
list[2]

In [5]:
#indexing
print(list1[1])
print(list2[2])

2
e

In [6]:
#Slicing
num=[1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[1:4])
print(num[::2]) #commenting

[1, 2, 3, 4]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

NameError: name 'commenting' is not defined

In [7]:
#Slicing
num=[1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[1:4])
print(num[::2]) #commenting

[1, 2, 3, 4]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

In [8]:
#Slicing
num=[1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[1:4])
print(num[::2]) #gap diye slicing

[1, 2, 3, 4]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

In [9]:
#list operation
num.append(7)
num

[1, 2, 3, 4, 5, 6, 7]

In [10]:
num.remove(7)
num

[1, 2, 3, 4, 5, 6]

In [12]:
num.remove(7)
num

ValueError: list.remove(x): x not in list

In [13]:
num.extend([7,8])
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
num.pop()

8

In [15]:
num

[1, 2, 3, 4, 5, 6, 7]

In [16]:
len(num)

7

## For Loop

In [17]:
##Understanding Range
range(3)

range(0, 3)

In [18]:
range(1,3)

range(1, 3)

In [19]:
# For loop Syntex
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for j in range(1,6):
    print(j)

1
2
3
4
5

In [21]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [22]:
#looping with list
fruits = ["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [23]:
students=["jon doe","karim","hasan","ihsanul"]
for name in student:
    print('Hi!',name)

NameError: name 'student' is not defined

In [25]:
students=['jon doe','karim','hasan','ihsanul']
for name in student:
    print('Hi!,',name)

NameError: name 'student' is not defined

In [26]:
students=['jon doe','karim','hasan','ihsanul']
for name in students:
    print('Hi!,',name)

NameError: name 'student' is not defined

In [28]:
students=['jon doe','karim','hasan','ihsanul']
for name in students:
    print('Hi!,',name)

Hi!, jon doe
Hi!, karim
Hi!, hasan
Hi!, ihsanul

In [29]:
#using Enumeratre with for loop
for index,name in enumerate(students):
    print('student',index,':',name)

student 0 : jon doe
student 1 : karim
student 2 : hasan
student 3 : ihsanul

In [30]:
#using len
for i in range(len(students)):
    print(i)

0
1
2
3

In [31]:
# Appending list
heights = [1.75,1.68,1.80,1.60]
weights = [68,71,85,59]
bmi = []
#calculation
for i in range(len(heights)):
    bmi=round((weights[i]/heights[i]**2,2))
    bmi_values.append(bmi)
print(bmi_value)

NameError: name 'bmi_values' is not defined

In [33]:
# Appending list
heights = [1.75,1.68,1.80,1.60]
weights = [68,71,85,59]
bmi = []
#calculation
for i in range(len(heights)):
    bmi=round((weights[i]/heights[i]**2,2))
    bmi_values.append(bmi)
print(bmi_value)

TypeError: type tuple doesn't define __round__ method

## While Loop

In [35]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

## Python Tuple

In [36]:
#ordered
#unchangeable
#allow duplicate
#data type 'tuple'

In [31]:
empty_tup=()
print(empty_tup)
print(type(empty_tup))
print(len(empty_tup))

()
<class 'tuple'>
0

In [35]:
#accessing taple items
my_tuple = (1,2,3,True,'Hi')
print(my_tuple)
print(my_tuple)

(1, 2, 3, True, 'Hi')
(1, 2, 3, True, 'Hi')

In [41]:
##Unpaking tuple
my_tuple=(1,2,3)
x,y,z=my_tuple
print(x)
print(y)
print(z)

1
2
3

### Python Set

In [40]:
#unordered
#unchangble
#do not allow duplicates
#data type 'set'

In [41]:
set1={1,2,3}
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

## python dictionary
key : value pair structure
ordered(from python version 3.7)
changable
do not allow duplicate

In [21]:
#list values with dictonary
students={
    'name':['jon snow','ihsanul haque','mark'],
    'cgpa':[3.3,5.2,4.5],
    'address':['USA','Bangladesh','UK']
}
students

{'name': ['jon snow', 'ihsanul haque', 'mark'],
 'cgpa': [3.3, 5.2, 4.5],
 'address': ['USA', 'Bangladesh', 'UK']}

In [43]:
students['name']

['jon snow', 'ihsanul haque', 'mark']

In [44]:
for name in students['name']:
    print(name)

jon snow
ihsanul haque
mark

In [45]:
# add element to a dict 
students['major']=['politics','Bnp','Bal']

In [46]:
students

{'name': ['jon snow', 'ihsanul haque', 'mark'],
 'cgpa': [3.3, 5.2, 4.5],
 'address': ['USA', 'Bangladesh', 'UK'],
 'major': ['politics', 'Bnp', 'Bal']}

In [47]:
#Removing 
del students['major']

In [48]:
students

{'name': ['jon snow', 'ihsanul haque', 'mark'],
 'cgpa': [3.3, 5.2, 4.5],
 'address': ['USA', 'Bangladesh', 'UK']}

In [24]:
#dictonary methods
key=students.keys()
value=students.values()
items=students.items()

In [25]:
print(value)

dict_values([['jon snow', 'ihsanul haque', 'mark'], [3.3, 5.2, 4.5], ['USA', 'Bangladesh', 'UK']])

### Conditiona Statement

In [18]:
a = 8
if a > 10:
    print('a is greater than 10')
    elif a > 5:
    print('a is grater than 5 but not a greater than 10')
    else:
    print('a is not greater than 5')
    
    
    ##  See if we dont maintain line then our code will not execude

SyntaxError: invalid syntax (1805899246.py, line 4)

In [57]:
a = 8
if a > 10:
    print('a is greater than 10')
elif a > 5:
    print('a is grater than 5 but not a greater than 10')
else:
    print('a is not greater than 5')

a is grater than 5 but not a greater than 10

In [58]:
a = 8
if a > 10:
    print('a is greater than 10')
elif a > 5:
    print('a is grater than 5 but not a greater than 10')
else:
    print('a is not greater than 5')

a is grater than 5 but not a greater than 10

## Python Functions

In [59]:
def greet():
    print("Hi there!")
greet()

Hi there!

In [65]:
# Appending list
heights = [1.75,1.68,1.80,1.60]
weights = [68,71,85,59]
bmi_values = []
#function for calculating BMI
def BMI(height,weight):
    return round(weights[i]/(heights[i]**2),2)
#calculation
for i in range(len(heights)):
    bmi = BMI(heights[i],weights[i])
    bmi_values.append(bmi)
print(bmi_values)

[22.2, 25.16, 26.23, 23.05]

## Variable Scope

In [15]:
# Global Var
global_var=10
#function accessing global variable
def my_func():
    local_var=5
    print(f"local variable:{local_var}")
    print(f"Global variable:{global_var}")
my_func()

local variable:5
Global variable:10